.list-page {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px auto;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}
